/*FUENTES*/
$font-principal: Verdana, Geneva, Tahoma, sans-serif;
$font-secondary: Times New Roman, Times, serif;

/*COLOR*/
$general:rgba(105, 36, 36, 0.973);
$secundario: black;
$alternativo: white;

/*TITULOS-PARRAFOS*/
$grande: 2rem;
$mediano:1.20rem;
$base: 1rem;
$chica: 0.70rem;

/*ALINEACION DE TEXTO*/
$principal: center;
$secundaria: justify;

/*ESPACIADOS*/
$large: 40px;
$medium: 20px;
$small: 10px;