* {
padding:0;
margin:0;
}

html, body {
width: 100%;
height: 100vh;
background-color:azure;
}


/*--- HEADER-----*/

.encabezado {
    display: flex;
    flex-wrap: wrap;   
    
}
    
.logo {
    display: flex; 
    height: 40px;
    width: 30px;
    border-radius: 50%;
    border: 5px solid #5d6869;
    align-items: center;
    transform: rotateZ(15deg);
    transition: width 4s, height 4s;
}


.logo:hover {
width: 100px;
height: 100px;
}




#navegacionActiva {
    
    color: rgb(87, 23, 23);
  }
 
  header nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
      }
    
  header nav ul li a{
  text-shadow: 4px 4px 4px #000;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(16, 172, 16);
  font-size: 5px;
  text-shadow: 4px 4px 4px #000;
  text-transform: uppercase; 
  text-decoration: none;
  transition: all 2s;
    
  }
    
li a:hover {
 color: #f9a91a;
 font-size: 30px;

    
  }
        

/*--- SECCIONES INICIO-----*/

#aventura {
  display: grid;
  grid-template-areas:
  "miHeader"
  "intro"
  "informacion"
  "miFooter";
  grid-template-rows: 150px 1fr 1fr 250px;
  grid-template-columns: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  width: 100%;
  height: 100vh;
  margin: 10px;
}

header {
  grid-area: miHeader;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgb(239, 250, 239);
  background-image: linear-gradient(to right,rgb(239, 250, 239), rgb(233, 200, 200));
  
}

section#intro {
  grid-area: intro;
  background-color: #b5c1c2;
  
  }

aside {
  visibility: hidden;
}




  footer {
    grid-area: miFooter;
    background-image: linear-gradient(to left,rgb(239, 250, 239), rgb(240, 184, 184));
    border-top: solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    
  }


section#informacion {
    grid-area: informacion;  
    display: flex; 
    flex-direction: column;
    height: 100%;
    }
    
#ultimasNovedades{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}


section#informacion article {
  
  width: 350px;
  height: 450px;
  border: 1px solid beige;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 5px 3px 2px white;
  margin: 10px;
}


#informacion article img {
    width: 90%;
    height: 350px;
    border-radius: 20px;    

}
 

/*--- FORMATO-----*/

h1 {

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(16, 172, 16);
    font-size: 30px;
}

@keyframes animation {
  0% {font-size:30px; color: rgb(16, 172, 16);}
  25% {font-size:35px; color:rgb(124, 116, 116);}
  75% {font-size:40px; color:#42adad;}
  100%{font-size:55px; color:#c3c4c0;}
}


.animation {
font-size: 30px;
color:rgb(16, 172, 16);
animation-name:animation;
animation-iteration-count:2;
animation-timing-function: linear;
animation-duration:4s;
animation-delay: 2s;
}


h2 {
      
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(16, 172, 16);
      font-size: 20px;
  }
  
  h3 {
      
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(16, 172, 16);
      font-size: 10px;
      font-weight: bolder;
      justify-content: center;
  }
  h4 {
        margin: 10px 0;
        text-align: center;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(0, 20, 0);
        font-size: 15px;
        font-weight: bolder;
        justify-content: center;
  }
  
  Footer p {
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: black;
    text-align: center;
    text-shadow: 1px 1px #1b1a1a;
    
  }

  section#informacion article h3 {
    text-align: center; 
    font-size: 15px;
}


section#informacion h2 {
  font-size: 15px;
  text-decoration: underline;
  justify-content: center;
  color: #123e12;
  text-align:center;
  margin-bottom: 30px;
}


.notaPie p{

font-size: 15px;
}


section#informacion article p {
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(16, 172, 16);
    text-align: justify;
    line-height: 15px;
    text-align: center;
    font-weight: bolder;
}
  
/*---------RESOLUCION INICIO-----------*/




@media screen and (min-width: 420px) {
  #aventura {
    grid-template-areas:
      "miHeader miHeader"
      "intro publicidad"
      "informacion publicidad"
      "miFooter miFooter"
    ;
    grid-template-columns: auto  150px;
    
  }    

  header nav ul li a{
    
    font-size: 3px;  }

    aside {
  
  grid-area: publicidad;
  visibility: visible;
  background-color: #c3dbdd;
  text-align: justify;
  }  

aside p {

text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(16, 172, 16);
font-size: 10px;
font-weight: bolder;
justify-content: center;

}   

header nav ul li a{ 
  font-size: 10px;
  margin-left: 5px; 
    
}

.logo {
  width: 40px;
       
}

section#informacion h2 {
  font-size: 12px;
  
}


section#informacion h3 {
  font-size: 10px;
  
}

section#informacion article {
  width: 250px;
  height: 400px;
}


#informacion article img {
    width: 90%;
    height: 250px;
}

aside {

  width: 150px;
  
  }
  
  aside img {
  width: 100px;
  }
   
#aventura {
  margin: 0

}

}
@media screen and (min-width: 620px) {
    #aventura {
      grid-template-areas:
        "miHeader miHeader"
        "intro publicidad"
        "informacion publicidad"
        "miFooter miFooter"
      ;
      grid-template-columns: auto  250px;
      grid-template-rows: 100px 100px 1fr 100px;
    }    

aside {
    visibility: visible;
    width: 250px;
    }  

aside img {

width: 200px;  

}

    aside p {
 
  font-size: 15px;
  }   
         
  
  section#informacion h2 {
    font-size: 10px;
    
  }

  section#informacion h3 {
    font-size: 10px;
    
  }

  section#informacion article {
    width: 350px;
    height: 350px;
  }
  
  
  #informacion article img {
      width: 90%;
      height: 200px;
  }
  
  }
 
  /*-----------------AVENTURA------------*/ 
.actividades {  

    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;  
    display: grid;
    grid-template-areas:
    "img "
    "img"
    "img"
    "img"
    ;
    border: 2px solid white;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;

}


img {
    width: 300px;
    height: 250px;
    transition: all 1s ;
    border: 1px solid floralwhite;
    padding: 5px;
    margin: 10px;
    border-radius: 20px 0px 20px 0px;
  
}



  @media screen and (min-width: 620px) {
    #aventura {
      grid-template-areas:
        "miHeader miHeader"
        "intro publicidad"
        "informacion publicidad"
        "miFooter miFooter"
      ;
      grid-template-columns: auto  250px;
      grid-template-rows: 100px 100px 1fr 100px;
    }    

aside {
    visibility: visible;
    background-color: #c3dbdd;
    text-align: justify;
    }  

 aside p {

  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(16, 172, 16);
  font-size: 15px;
  font-weight: bolder;
  justify-content: center;

}   

 header nav ul li a{ 
    font-size: 10px;
    margin-left: 5px; 
      
}

  .logo {
    width: 70px;
         
  }

  section#informacion h2 {
    font-size: 10px;
    
  }


  section#informacion h3 {
    font-size: 10px;
    
  }

  section#informacion article {
    width: 300px;
    height: 350px;
  }
  
  
  #informacion article img {
      width: 90%;
      height: 200px;
  }
  
     


}
 /*-----------------AVENTURA------------*/ 
.actividades {  

    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;  
    display: grid;
    grid-template-areas:
    "img "
    "img"
    "img"
    "img"
    ;
    border: 2px solid white;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;

}


img {
    width: 300px;
    height: 250px;
    transition: all 1s ;
    border: 1px solid floralwhite;
    padding: 5px;
    margin: 10px;
    border-radius: 20px 0px 20px 0px;
  
    
}

/*----------RESOLUCION AVENTURA--------*/

@media screen and (min-width: 800px) {
    .actividades {  
        
        grid-template-areas:
        "img img  "
        "img img"
        "img img"
        "img img"
        ;
        margin: 10px;
        padding: 10px;  
        justify-content:space-around;
    }

    img {
        width: 370px;
        height: 230px;
        
    }
    
}

@media screen and (min-width: 1300px) {
    .actividades {  
        width: auto;
        grid-template-areas:
        "img img img  "
        "img img img "
        "img img img "
        "img img img "
        ;
        margin: 10px;
        padding: 10px;  
        
    }

    img {
        width: 370px;
        height: 230px;
    }

    img:hover {
        transform: scale(1.2, 1.2);
        border: none;    
    }

    
}
  
/*---EMPRESA-----*/

.rounded {

  border-radius: 20%;
  border: double 10px gray;
  
 }
 
  .position {
  margin-left: 350px;
  margin-bottom: 550px; 
  margin-top: 200px;
  height: auto;
  width: auto;
}

.empresa p {

  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(16, 172, 16);
  font-size: 15px;
  margin-top: 20px;
}

/*---REQUISITOS--*/


.requisitos h4 {
  color: rgb(110, 161, 76);
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  margin-top: 90px;
    
}
.requisitos table {
  margin: auto;
  padding-bottom: 20px;
  width: 50%;
}
.requisitos table th {
  background-color: gray;
  border-radius: 5px;   
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;    
  font-size: 15px;
}
.requisitos table td {
  background-color: white;
  border-bottom: 1px solid #364959;
  border-radius: 5px;
  font-family: "Tiro", Verdana, Tahoma;
  padding: 10px;
  text-align: left;
  font-size: 15px;     
}
.requisitos table tr:hover td {
background: rgb(226, 226, 185);
}

/*--CONTACTO--*/

.consultas{
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
margin-top: 80px;
text-decoration:underline;

}

form {

color: white;
font-family: Arial, Helvetica, sans-serif;
margin:auto;
padding-top: 30px;
text-shadow: 1px 2px 1px #000;
width: 40%; 

}

form fieldset {
background-color: rgb(197, 197, 197);
border-color: black;
border-radius: 5px;
box-shadow: 10px 15px 5px black;
padding-top: 30px;
padding-bottom: 40px;
}
form fieldset legend {
background-color: #a5bbce70;
border: 5px solid #17212c;
box-shadow: 4px 4px 4px #000;
font-size: 20px;
padding: 20px;
}
input[type=text],[type=email] { 
background-color: aliceblue;
border-radius: 20px;
margin-bottom: 40px;
padding: 10px;    
width: 90%;
}
input[type=checkbox] {    
margin-bottom: 30px;
}
select {
background-color:aliceblue;
font-family:Arial, Helvetica, sans-serif;
margin-bottom: 30px;
padding: 5px;
width: 80%;
}
select option {
font-family: Arial, Helvetica, sans-serif;
}
textarea {
background-color: aliceblue;
margin-top: 5px;
margin-bottom: 10px;
width: 95%;
margin-left: 10px;
}

