article {
 margin: 30px;   
}

.requisitos table {

padding-bottom: 20px;
margin: auto;
width: 40%;
}

.requisitos table th {

background-color: gray;
border-radius: 5px;   
padding: 15px;

    font: {
        family: Arial, Helvetica, sans-serif;
        size: $chica;

         }
    text: {
    
        shadow: 1px 1px 1px #000;
        transform: uppercase;
         }
}

.requisitos table td {

background-color: white;
padding: 10px;
text-align: left;
     border: {
        bottom: 1px solid #364959;
        radius: 5px;
     }
    font: {
        family: "Tiro", Verdana, Tahoma;
        size: $chica;     
    }
       
}
.requisitos table tr:hover td {
background: rgb(226, 226, 185);
}

.importante h1 {

color: $secundario;
text-decoration: underline black;
 }

.importante p {
text-align: $principal;
margin-top: 25px;
margin-bottom: 25px;
 
    font: {
    size: $base;
    weight: bolder;        
}
}
    
.requisitos h1 {

font-size: $mediano; 
color: #000;
padding: 30px;
margin-top: 30px;

    text: {
        decoration: underline black;
        transform: uppercase;
    }
    
}